<template>
  <v-card elevation="3">
    <v-card-title>Your budget</v-card-title>
    <v-card-subtitle>How much money you think you need</v-card-subtitle>
    <v-card-text>
      <v-currency-field
        v-model="amount"
        outlined
        @keydown.enter="blur"
        @keydown.esc="blur"
        dense
        v-debounce:500ms.lock="split"
      ></v-currency-field>
    </v-card-text>
  </v-card>
</template>

<script lang="ts">
import {
  computed,
  defineComponent,
  onMounted,
  ref,
  SetupContext,
  watch,
} from "@vue/composition-api";
import blur from "@/utils/blur";
import splitBudgetData from "@/utils/splitBudget";
import { gql, GQLClient } from "@/graphql";
import { endOfMonth, format } from "date-fns";
import eventBus from "@/utils/eventBus";

export default defineComponent({
  name: "BudgetBudgeted",
  props: {
    item: String,
    dateRange: Array,
  },
  setup(props: { item: string; dateRange: string[] }, context: SetupContext) {
    const budgetValueData = GQLClient.prepare({
      query: gql`
        query($name: String, $start: DateTime, $end: DateTime) {
          aggregateBudgetItemData(
            where: {
              budgetItem: { is: { name: { equals: $name } } }
              date: { gte: $start }
              AND: { date: { lte: $end } }
            }
          ) {
            sum {
              amount
            }
          }
        }
      `,
      variables: {
        name: props.item,
        start: "",
        end: "",
      },
    });
    const amount = ref(0);

    function updateBudgeted() {
      const start = props.dateRange[0];
      const end = props.dateRange[1] || props.dateRange[0];
      budgetValueData
        .update({
          start: format(new Date(start), "yyyy-MM-dd"),
          end: format(new Date(end), "yyyy-MM-dd"),
        })
        .then((res: any) => {
          if (res?.data?.aggregateBudgetItemData?.sum?.amount !== undefined) {
            amount.value = res?.data?.aggregateBudgetItemData?.sum?.amount;
          }
        });
    }

    onMounted(() => {
      updateBudgeted();
    });

    watch(
      () => props.dateRange,
      () => {
        updateBudgeted();
      },
    );
    const split = () => {
      const start = props.dateRange[0];
      const end = props.dateRange[1] || props.dateRange[0];
      splitBudgetData(new Date(start), new Date(end), amount.value, props.item);
    };

    return {
      amount,
      blur,
      split,
    };
  },
});
</script>
