<template>
  <v-card elevation="3">
    <v-progress-linear
      :active="updatingRemains"
      :indeterminate="updatingRemains"
      absolute
      top
      color="deep-purple accent-4"
    ></v-progress-linear>
    <v-card-title>Remaining</v-card-title>
    <v-card-subtitle>How much money you have left to spend</v-card-subtitle>

    <v-card-text>
      <v-chip :color="pctComp < threshold ? 'red lighten-2' : 'green lighten-2'">
        <v-icon>mdi-currency-eur</v-icon>
        <span class="ml-2">{{
          budgetLeftComp
        }}</span>
      </v-chip>
    </v-card-text>
  </v-card>
</template>

<script lang="ts">
/* eslint-disable */
import { gql, GQLClient } from "@/graphql";
import {
  computed,
  defineComponent,
  onMounted,
  ref,
  SetupContext,
  watch,
  watchEffect,
} from "@vue/composition-api";
import { endOfMonth, format, formatISO, startOfMonth } from "date-fns";
import eventBus from "@/utils/eventBus";

export default defineComponent({
  name: "BudgetRemaining",
  props: {
    item: String,
    dateRange: Array,
  },
  setup(props: { item: string; dateRange: string[] }, context: SetupContext) {
    const budgetLeft = ref(0);
    const pct = ref(0);
    const threshold = 0.25;

    /* eslint-disable no-useless-escape */
    const budgetLeftComp = computed(() =>
      new Intl.NumberFormat("de-DE", {
        style: "currency",
        currency: "EUR",
      }).format(budgetLeft.value)
    );
    const pctComp = computed(() => pct.value);
    const updatingRemains = ref(false);

    const budgetLeftData = GQLClient.prepare({
      query: gql`
        query($name: String, $start: DateTime, $end: DateTime) {
          aggregateBudgetItemData(
            where: {
              budgetItem: { is: { name: { equals: $name } } }
              date: { gte: $start }
              AND: { date: { lte: $end } }
            }
          ) {
            sum {
              amount
              spent
            }
          }
        }
      `,
      variables: {
        name: props.item,
        start: "",
        end: "",
      },
    });

    function updateRemaining() {
      updatingRemains.value = true;

      const start = props.dateRange[0];
      const end = props.dateRange[1] || props.dateRange[0];
      budgetLeftData
        .update({
          start: format(new Date(start), "yyyy-MM-dd"),
          end: format(new Date(end), "yyyy-MM-dd"),
        })
        .then((res: any) => {
          if (res?.data?.aggregateBudgetItemData?.sum) {
            const amount: number =
              res?.data?.aggregateBudgetItemData?.sum?.amount;
            const spent: number =
              res?.data?.aggregateBudgetItemData?.sum?.spent;
            budgetLeft.value = amount - spent;
            pct.value = (amount - spent) / amount;

            updatingRemains.value = false;
          }
        });
    }

    onMounted(() => {
      updateRemaining();
      eventBus.$on(
        "budget-amount-updating",
        () => (updatingRemains.value = true)
      );
      eventBus.$on("budget-amount-updated", () => updateRemaining());
    });

    watch(
      () => props.dateRange,
      () => {
        updateRemaining();
      }
    );

    return {
      threshold,
      budgetLeft,
      budgetLeftComp,
      pctComp,
      updatingRemains,
    };
  },
});
</script>
