<template>
  <v-list-group :value="true" prepend-icon="mdi-bank">
    <template v-slot:activator>
      <v-list-item-content>
        <v-list-item-title>Budgets</v-list-item-title>
      </v-list-item-content>
    </template>

    <budget-sub-list
      v-for="item in items"
      :key="item.name"
      :item="item"
    ></budget-sub-list>

    <v-list-item link class="ml-5">
      <v-list-item-content @click="menu = !menu">
        <add-new-budget :showMenu.sync="menu"></add-new-budget>
      </v-list-item-content>
      <v-list-item-icon>
        <v-icon>mdi-bank-plus</v-icon>
      </v-list-item-icon>
    </v-list-item>
  </v-list-group>
</template>

<script lang="ts">
import AddNewBudget from "@/components/actions/addNewBudget.vue";
import { gql, GQLClient } from "@/graphql";
import eventBus from "@/utils/eventBus";
import { defineComponent, onMounted, ref } from "@vue/composition-api";
import budgetSubList from "./budgetSubList.vue";

export default defineComponent({
  components: { budgetSubList, AddNewBudget },
  name: "NavBudgetList",
  setup() {
    const menu = ref(false);
    const items = ref([]);
    const budgetItems = GQLClient.prepare({
      query: gql`
        query {
          budgets(where: { userId: { equals: 1 } }) {
            id
            name
            icon
            budgetItem {
              name
            }
          }
        }
      `,
    });

    function updateBudgetList() {
      budgetItems.update().then((res: any) => {
        if (res?.data?.budgets) {
          items.value = res?.data?.budgets.map((x: any) => ({
            id: x.id,
            name: x.name,
            icon: x.icon,
            to: `/budgets/${encodeURIComponent(x.name)}`,
            budgetItems: x.budgetItem.map((y: any) => ({
              name: y.name,
              to: `/budgets/${encodeURIComponent(x.name)}/${encodeURIComponent(
                y.name,
              )}`,
            })),
          }));
        }
      });
    }

    onMounted(() => {
      updateBudgetList();

      eventBus.$on("new-budget-added", () => updateBudgetList());
      eventBus.$on("new-budget-item-added", () => updateBudgetList());
    });

    return {
      menu,
      items,
    };
  },
});
</script>
