<template>
  <v-list-group no-action sub-group>
    <template v-slot:activator>
      <v-list-item-content>
        <v-list-item-title>{{ item.name }}</v-list-item-title>
      </v-list-item-content>
      <v-list-item-icon>
        <v-icon v-text="item.icon"></v-icon>
      </v-list-item-icon>
    </template>

    <v-list-item
      v-for="budgetItem in item.budgetItems"
      :key="budgetItem.name"
      link
      :to="budgetItem.to"
      color="primary"
    >
      <v-list-item-title>{{ budgetItem.name }}</v-list-item-title>
    </v-list-item>

    <v-list-item link>
      <v-list-item-content @click="menu = !menu">
        <add-new-budget-item :showMenu.sync="menu" :budgetId="item.id"></add-new-budget-item>
      </v-list-item-content>
      <v-list-item-icon>
        <v-icon>{{ item.icon + "-plus" }}</v-icon>
      </v-list-item-icon>
    </v-list-item>
  </v-list-group>
</template>

<script lang="ts">
import addNewBudgetItem from "@/components/actions/addNewBudgetItem.vue";
import {
  defineComponent,
  ref,
} from "@vue/composition-api";

export default defineComponent({
  components: { addNewBudgetItem },
  name: "NavBudgetSubList",
  props: {
    item: Object,
  },
  setup() {
    const menu = ref(false);

    return {
      menu,
    };
  },
});
</script>
