<template>
  <v-snackbar
    :timeout="1500"
    v-model="snackbar"
    color="primary accent-4"
    elevation="24"
  >
    {{ message }}
  </v-snackbar>
</template>

<script lang="ts">
import {
  defineComponent,
  ref,
  SetupContext,
  watch,
} from "@vue/composition-api";

export default defineComponent({
  name: "InfoSnackbar",
  setup(props: unknown, context: SetupContext) {
    const snackbar = ref(false);
    const message = ref("");

    watch(
      () => context.root.$store.state.snackbar.show,
      () => {
        const show = context.root.$store.state.snackbar.show;
        if (show) {
          snackbar.value = true;
          message.value = context.root.$store.state.snackbar.message;
        } else {
          snackbar.value = false;
          message.value = "";
        }
      },
    );

    return {
      snackbar,
      message,
    };
  },
});
</script>
