<template>
  <v-card elevation="3">
    <v-card-title>
      <v-icon
        color="green"
        class="mr-12"
        :size="$vuetify.breakpoint.smAndUp ? 64 : 32"
      >
        mdi-currency-eur
      </v-icon>
      <v-row align="start">
        <div class="caption grey--text text-uppercase">Average Spending</div>
        <div class="ml-2">
          <span class="display-2 font-weight-black" v-text="avg || '—'"></span>
          <strong v-if="avg">€</strong>
        </div>
      </v-row>

      <v-spacer></v-spacer>

      <v-btn icon class="align-self-start" size="28">
        <v-icon>mdi-arrow-right-thick</v-icon>
      </v-btn>
    </v-card-title>

    <v-sheet color="transparent">
      <v-sparkline
        :key="String(avg)"
        :smooth="16"
        :gradient="['#f72047', '#ffd200', '#1feaea']"
        :line-width="2"
        :value="spending"
        auto-draw
        stroke-linecap="round"
      ></v-sparkline>
    </v-sheet>
  </v-card>
</template>

<script lang="ts">
import { computed, defineComponent } from "@vue/composition-api";

export default defineComponent({
  name: "BudgetStatsAverageSpending",
  setup() {
    const spending = Array.from({ length: 20 }, () => Math.ceil(Math.random() * (120 - 80) + 80));
    const avg = computed(() => {
      const sum = spending.reduce((acc, cur) => acc + cur, 0);
      const length = spending.length;

      if (!sum && !length) return 0;

      return Math.ceil(sum / length);
    });

    return {
      spending,
      avg,
    };
  },
});
</script>
