<template>
  <v-card elevation="3">
    <v-card-title>
      Spending in comparison
      <v-spacer></v-spacer>

      <v-btn icon class="align-self-start" size="28">
        <v-icon>mdi-arrow-right-thick</v-icon>
      </v-btn>
    </v-card-title>
    <v-card-text>
      <pie-chart :donut="true" suffix="€" :data="data" class=""></pie-chart>
    </v-card-text>
  </v-card>
</template>

<script lang="ts">
import { defineComponent } from "@vue/composition-api";

export default defineComponent({
  name: "BudgetStatsSpendOtherItems",
  setup() {
    const data = [
      ["Insurance", 50],
      ["Rent", 380],
      ["Bike Rental", 17],
      ["Netflix", 25],
      ["HOA", 80],
    ];

    return {
      data,
    };
  },
});
</script>
