<template>
  <v-card elevation="3">
    <v-card-title>
      Spending over time
      <v-spacer></v-spacer>

      <v-btn icon class="align-self-start" size="28">
        <v-icon>mdi-arrow-right-thick</v-icon>
      </v-btn>
    </v-card-title>
    <v-card-subtitle
      >See how much you spent over the last 3 months</v-card-subtitle
    >

    <v-sparkline
      :value="[380, 355, 425, 400, 525]"
      :gradient="['#f72047', '#f72047', '#2196F3', '#2196F3', '#2196F3']"
      color="black"
      :smooth="true"
      :padding="8"
      :line-width="2"
      :stroke-linecap="'round'"
      :gradient-direction="'top'"
      :fill="false"
      :type="'trend'"
      :auto-line-width="false"
      auto-draw
    >
    </v-sparkline>
  </v-card>
</template>

<script lang="ts">
import { defineComponent } from "@vue/composition-api";

export default defineComponent({
  name: "BudgetStatsSpending",
});
</script>
