<template>
  <v-card elevation="3">
    <v-card-title>
      Last 5 transactions
      <v-spacer></v-spacer>

      <v-btn icon class="align-self-start" size="28">
        <v-icon>mdi-arrow-right-thick</v-icon>
      </v-btn>
    </v-card-title>
    <v-card-subtitle>See where your cash ends up</v-card-subtitle>

    <v-list>
      <v-list-item v-for="item in items" :key="item.id">
        <v-list-item-icon>
          <span>{{ item.date }}</span>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>{{ item.title }}</v-list-item-title>
        </v-list-item-content>

        <v-list-item-action>
          <span class="red--text">-{{ item.amount }}€</span>
        </v-list-item-action>
      </v-list-item>
    </v-list>
  </v-card>
</template>

<script lang="ts">
import { defineComponent } from "@vue/composition-api";

export default defineComponent({
  name: "BudgetStatsTransactions",
  setup() {
    const items = [
      {
        id: 1,
        title: "Landlord",
        amount: 380,
        date: "2020-05-01",
      },
      {
        id: 2,
        title: "Landlord",
        amount: 380,
        date: "2020-04-01",
      },
      {
        id: 3,
        title: "Landlord",
        amount: 380,
        date: "2020-03-01",
      },
      {
        id: 4,
        title: "Landlord",
        amount: 380,
        date: "2020-02-01",
      },
      {
        id: 5,
        title: "Landlord",
        amount: 380,
        date: "2020-01-01",
      },
    ];

    return {
      items,
    };
  },
});
</script>
