<template>
  <v-container>
    <v-row>
      <v-col>
        <div class="text-h2 text-center">404</div>
        <div class="text-subtitle-1 text-center">Page not found</div>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import { defineComponent } from "@vue/composition-api";

export default defineComponent({
  name: "Views404",
});
</script>
