<template>
  <v-container>
    <v-row>
      <v-col class="py-0 pl-0">
        <v-breadcrumbs :items="breadcrumbs">
          <template v-slot:item="{ item }">
            <v-breadcrumbs-item :disabled="item.disabled">
              <h3>{{ item.text.toUpperCase() }}</h3>
            </v-breadcrumbs-item>
          </template>

          <template v-slot:divider>
            <v-icon class="px-0" large>mdi-slash-forward</v-icon>
          </template>
        </v-breadcrumbs>
      </v-col>
    </v-row>

    <!--<v-row>
      <v-col class="py-0">
        <v-tabs show-arrows v-model="selectedTab">
          <v-tab>Today</v-tab>
          <v-tab>This week</v-tab>
          <v-tab>This month</v-tab>
          <v-tab>This year</v-tab>
        </v-tabs>
      </v-col>
    </v-row>-->

    <v-row>
      <v-col class="pt-0" cols="12" lg="6">
        <v-date-picker
          v-model="dates"
          full-width
          range
          reactive
          show-week
          scrollable
        >
          <v-select
            :items="quickSelect"
            v-model="quickSelectSelected"
            label="Quick select"
            dense
            outlined
          ></v-select>
        </v-date-picker>
      </v-col>
    </v-row>

    <v-row>
      <v-col cols="12" lg="6">
        <v-card outlined class="grey lighten-3">
          <v-card-title>Essentials</v-card-title>
          <v-card-text>
            <v-row>
              <v-col cols="12" lg="6">
                <budgeted :item.sync="item" :dateRange.sync="dates"></budgeted>
              </v-col>
              <v-col cols="12" lg="6">
                <remaining
                  :item.sync="item"
                  :dateRange.sync="dates"
                ></remaining>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>

    <v-row>
      <v-col cols="12" lg="3">
        <transactions></transactions>
      </v-col>
      <v-col cols="12" lg="3">
        <spend-other-items></spend-other-items>
      </v-col>
    </v-row>

    <v-row>
      <v-col cols="12" lg="6">
        <average-spending></average-spending>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import AverageSpending from "@/components/budget/stats/averageSpending.vue";
import Spending from "@/components/budget/stats/spendingOverTime.vue";
import SpendOtherItems from "@/components/budget/stats/spendOtherItems.vue";
import Budgeted from "@/components/budget/budgeted.vue";
import Remaining from "@/components/budget/remaining.vue";
import transactions from "@/components/budget/stats/transactions.vue";
import {
  defineComponent,
  onMounted,
  Ref,
  ref,
  SetupContext,
  watch,
} from "@vue/composition-api";
import {
  compareAsc,
  endOfMonth,
  endOfWeek,
  endOfYear,
  formatISO,
  startOfMonth,
  startOfWeek,
  startOfYear,
} from "date-fns";
import { gql, GQLClient } from "@/graphql";
import blur from "../utils/blur";

export default defineComponent({
  name: "ViewsBudget",
  components: {
    transactions,
    Spending,
    AverageSpending,
    SpendOtherItems,
    Budgeted,
    Remaining,
  },
  setup(props: unknown, context: SetupContext) {
    const route = context.root.$route;
    const item = route.params.item;

    // Do we actually exist?
    onMounted(async () => {
      const exists = await GQLClient.send<{ findFirstBudgetItem: { id: number } }>({
        query: gql`
          query($budgetItemName: String!, $budgetName: String!) {
            findFirstBudgetItem(
              where: {
                name: { equals: $budgetItemName }
                budget: { is: { name: { equals: $budgetName } } }
              }
            ) {
              id
            }
          }
        `,
        variables: {
          budgetItemName: encodeURIComponent(route.params.item).split("%20").join(" "),
          budgetName: encodeURIComponent(route.params.budget).split("%20").join(" "),
        },
      });

      if (exists?.data?.findFirstBudgetItem == null) context.root.$router.push('/404');
    });
    const breadcrumbs = [
      {
        text: encodeURIComponent(route.params.budget).split("%20").join(" ").toUpperCase(),
        disabled: false,
      },
      {
        text: encodeURIComponent(route.params.item).split("%20").join(" ").toUpperCase(),
        disabled: false,
      },
    ];

    const dates: Ref<string[]> = ref([
      formatISO(startOfMonth(new Date())).substr(0, 10),
      formatISO(endOfMonth(new Date())).substr(0, 10),
    ]);

    const quickSelect = ["Today", "This week", "This month", "This year"];
    const quickSelectSelected = ref("This month");
    watch(quickSelectSelected, () => {
      dates.value.length = 0; // Clear current date selection

      switch (quickSelectSelected.value) {
        case "Today":
          dates.value = [new Date().toISOString().substring(0, 10)];
          break;
        case "This week":
          dates.value = [
            formatISO(startOfWeek(new Date())).substr(0, 10),
            formatISO(endOfWeek(new Date())).substr(0, 10),
          ];
          break;
        case "This month":
          dates.value = [
            formatISO(startOfMonth(new Date())).substr(0, 10),
            formatISO(endOfMonth(new Date())).substr(0, 10),
          ];
          break;
        case "This year":
          dates.value = [
            formatISO(startOfYear(new Date())).substr(0, 10),
            formatISO(endOfYear(new Date())).substr(0, 10),
          ];
          break;
        default:
          break;
      }
    });

    watch(
      () => dates.value,
      () => {
        if (
          dates.value.length > 1
          && compareAsc(new Date(dates.value[0]), new Date(dates.value[1])) === 1
        ) {
          // First date is after the second, eg [2020-12-31, 2020-12-01], so switch it around
          const tmp = dates.value[0];
          dates.value[0] = dates.value[1];
          dates.value[1] = tmp;
        }
      },
    );

    return {
      blur,
      breadcrumbs,
      item,
      quickSelect,
      quickSelectSelected,
      dates,
    };
  },
});
</script>
