<template>
  <v-container>
    <v-row>
      <v-col>
        <div class="display-1">Hi</div>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import { defineComponent } from "@vue/composition-api";

export default defineComponent({
  name: "ViewsDashboard",
});
</script>
