<template>
  <v-container>
    <v-row>
      <v-col>
        <v-data-table :headers="headers" :items.sync="transactions">
          <template v-slot:[`item.date`]="{ item }">
            <v-menu
              v-model="item.dateMenu"
              :close-on-content-click="true"
              transition="scale-transition"
              offset-y
              min-width="290px"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="item.date"
                  append-icon="mdi-calendar"
                  readonly
                  :disabled="item.isReadonly"
                  outlined
                  dense
                  hide-details
                  v-bind="attrs"
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker
                v-model="item.date"
              ></v-date-picker>
            </v-menu>
          </template>

          <template v-slot:[`item.recipient`]="{ item }">
            <v-text-field
              v-model="item.recipient"
              outlined
              dense
              @keydown.enter="blur"
              @keydown.esc="blur"
              hide-details
              :disabled="item.isReadonly"
            ></v-text-field>
          </template>

          <template
            v-slot:[`item.budgetItem`]="{ item }"
            style="max-width: 50%"
          >
            <v-combobox
              v-model="item.budgetItem"
              :items="budgetItems"
              :search-input.sync="budgetItemSearch"
              label="Select budget item(s)"
              multiple
              small-chips
              color="primary"
              outlined
              class="my-3"
              hide-details
              dense
              :disabled="item.isReadonly"
            >
              <template v-slot:selection="{ item }">
                <v-chip color="primary" small>
                  <span>{{ item }}</span>
                </v-chip>
              </template>
              <template v-slot:no-data>
                <v-list-item>
                  <v-list-item-content>
                    <v-list-item-title>
                      No results matching "<strong>{{
                        budgetItemSearch
                      }}</strong
                      >". Press <kbd>enter</kbd> to create a new one
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </template>
            </v-combobox>
          </template>

          <template v-slot:[`item.amount`]="{ item }">
            <v-currency-field
              v-model="item.amount"
              dense
              outlined
              @keydown.enter="blur"
              @keydown.esc="blur"
              hide-details
              :disabled="item.isReadonly"
            ></v-currency-field>
          </template>

          <template v-slot:[`item.actions`]="{ item }">
            <v-tooltip bottom v-if="item.isReadonly">
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  @click="item.isReadonly = !item.isReadonly"
                  icon
                  depressed
                  dense
                  rounded
                  v-bind="attrs"
                  v-on="on"
                >
                  <v-icon>mdi-pencil</v-icon>
                </v-btn>
              </template>
              <span>Enable editing</span>
            </v-tooltip>

            <v-tooltip bottom v-if="!item.isReadonly">
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  @click="item.isReadonly = !item.isReadonly"
                  icon
                  depressed
                  dense
                  rounded
                  color="primary"
                  v-bind="attrs"
                  v-on="on"
                >
                  <v-icon>mdi-send-circle</v-icon>
                </v-btn>
              </template>
              <span>Save item</span>
            </v-tooltip>
            <v-tooltip bottom color="red">
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  @click="deleteItem(item)"
                  icon
                  depressed
                  dense
                  rounded
                  color="red"
                  v-bind="attrs"
                  v-on="on"
                >
                  <v-icon>mdi-delete</v-icon>
                </v-btn>
              </template>
              <span>Delete transaction</span>
            </v-tooltip>
          </template>

          <template v-slot:no-data> No transactions found! </template>
        </v-data-table>
        <v-dialog v-model="dialogDelete" max-width="600px">
          <v-card>
            <v-card-title class="headline"
              >Are you sure you want to delete this transaction?</v-card-title
            >
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                color="blue darken-1"
                text
                depressed
                @click="dialogDelete = false"
                >Cancel</v-btn
              >
              <v-btn
                color="blue white--text"
                depressed
                @click="deleteItemConfirm"
                >OK</v-btn
              >
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import { gql, GQLClient } from "@/graphql";
import {
  defineComponent,
  onMounted,
  reactive,
  ref,
} from "@vue/composition-api";
import blur from "../utils/blur";

export default defineComponent({
  name: "ViewsTransactions",
  setup() {
    const headers = [
      {
        text: "Date",
        align: "start",
        filterable: true,
        value: "date",
        class: "primary white--text",
      },
      {
        text: "Recipient",
        value: "recipient",
        class: "primary white--text",
      },
      {
        text: "Budget Item",
        value: "budgetItem",
        width: "35%",
        class: "primary white--text",
      },
      {
        text: "Amount",
        value: "amount",
        class: "primary white--text",
      },
      {
        text: "Actions",
        value: "actions",
      },
    ];

    const transactions = reactive([
      {
        date: "2020-12-19",
        dateMenu: false,
        recipient: "Amazon",
        budgetItem: [],
        amount: new Intl.NumberFormat("de-DE", {
          style: "currency",
          currency: "EUR",
        }).format(7.99),
        isReadonly: true,
      },
      {
        date: "2020-12-18",
        dateMenu: false,
        recipient: "Netflix",
        budgetItem: [],
        amount: new Intl.NumberFormat("de-DE", {
          style: "currency",
          currency: "EUR",
        }).format(12.99),
        isReadonly: true,
      },
    ]);

    const budgetItems = ref([]);

    onMounted(() => {
      GQLClient.send({
        query: gql`
          query($userEmail: String) {
            budgetItems(
              where: {
                budget: {
                  is: { user: { is: { email: { equals: $userEmail } } } }
                }
              }
            ) {
              name
            }
          }
        `,
        variables: {
          userEmail: "test@soeren.codes",
        },
      }).then((res: any) => {
        if (res?.data?.budgetItems) {
          budgetItems.value = res?.data?.budgetItems.map(
            (x: { name: string }) => x.name
          );
        }
      });
    });

    const budgetItemSearch = null;
    const dialogDelete = ref(false);
    const deleteIndex = ref(-1);

    function deleteItem(item: any) {
      deleteIndex.value = transactions.indexOf(item);
      dialogDelete.value = true;
    }

    function deleteItemConfirm() {
      transactions.splice(deleteIndex.value, 1);
      dialogDelete.value = false;
      deleteIndex.value = -1;
    }

    return {
      headers,
      transactions,
      budgetItemSearch,
      budgetItems,
      blur,
      dialogDelete,
      deleteItem,
      deleteItemConfirm,
    };
  },
});
</script>
