<template>
  <v-navigation-drawer app v-model="drawer">
    <v-list-item v-if="$vuetify.breakpoint.smAndUp">
      <v-list-item-content>
        <v-list-item-title class="title"> Budgeteer </v-list-item-title>
      </v-list-item-content>
    </v-list-item>

    <v-divider v-if="$vuetify.breakpoint.smAndUp"></v-divider>

    <v-list dense nav>
      <v-list-item link color="primary" to="/">
        <v-list-item-icon>
          <v-icon>mdi-view-dashboard</v-icon>
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title>Dashboard</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <budget-list></budget-list>

      <v-list-item link color="primary" to="/transactions">
        <v-list-item-icon>
          <v-icon>mdi-transfer</v-icon>
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title>Transactions</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>

    <v-spacer></v-spacer>
    <template v-slot:append>
      <bottom-nav></bottom-nav>
    </template>
  </v-navigation-drawer>
</template>

<script lang="ts">
import { gql, GQLClient } from "@/graphql";
import {
  computed,
  defineComponent,
  onMounted,
  ref,
  SetupContext,
} from "@vue/composition-api";
import BottomNav from "./nav/bottom/bottomNav.vue";
import BudgetList from "./nav/budgetNav/budgetList.vue";

export default defineComponent({
  name: "Navigation",
  components: { BudgetList, BottomNav },
  setup(props: unknown, context: SetupContext) {
    const showMenu = ref(false);

    const drawer = computed({
      get: () => context.root.$store.state.drawer,
      set: (v) => context.root.$store.dispatch("setDrawer", v),
    });

    return {
      drawer,
      showMenu,
    };
  },
});
</script>

<style scoped>
.show-btn {
  color: red !important;
}
</style>
