<template>
  <v-list dense nav>
    <v-list-item link>
      <v-list-item-icon>
        <v-icon>mdi-help</v-icon>
      </v-list-item-icon>

      <v-list-item-content>
        <v-list-item-title>Help</v-list-item-title>
      </v-list-item-content>
    </v-list-item>

    <v-list-item link>
      <v-list-item-icon>
        <v-icon>mdi-account</v-icon>
      </v-list-item-icon>

      <v-list-item-content>
        <v-list-item-title>Account</v-list-item-title>
      </v-list-item-content>
    </v-list-item>
  </v-list>
</template>

<script lang="ts">
import { defineComponent } from "@vue/composition-api";

export default defineComponent({
  name: "BottomNav",
});
</script>
