<template>
  <v-app>
    <v-main>
      <template v-if="loading">
        <v-container fill-height>
          <v-row justify="center">
            <v-col cols="1">
              I'm loading!
            </v-col>
          </v-row>
        </v-container>
      </template>
      <template v-if="!loading">
      <v-app-bar dense flat color="transparent" class="mt-2">
        <v-app-bar-nav-icon
          @click="drawer = !drawer"
          v-if="$vuetify.breakpoint.mdAndDown"
        ></v-app-bar-nav-icon>

        <v-spacer />

        <v-toolbar-title v-if="$vuetify.breakpoint.mdAndDown"
          >Budgeteer</v-toolbar-title
        >

        <v-spacer />

        <v-text-field
          prepend-inner-icon="mdi-magnify"
          class="shrink"
          v-if="$vuetify.breakpoint.mdAndUp"
          hint="Search through your budgets"
        ></v-text-field>
      </v-app-bar>
      <navigation></navigation>

      <router-view :key="$route.fullPath" />
      <snackbar></snackbar>

      <v-row class="ml-1">
        <v-col cols="8" sm="10" lg="11">
          <div class="text-caption font-weight-light">
            Made with <v-icon class="text-caption">mdi-heart</v-icon> by <a href="https://soeren.codes/">Søren
            Johanson</a>
          </div>
        </v-col>
        <v-col cols="4" sm="2" md="2" lg="1" class="text-caption">
          <a href="/imprint">Imprint</a> | <a href="/contact">Contact</a>
        </v-col>
      </v-row>
      </template>
    </v-main>
  </v-app>
</template>

<script lang="ts">
import { computed, defineComponent, SetupContext } from "@vue/composition-api";
import Snackbar from "./components/info/snackbar.vue";
import navigation from "./components/navigation.vue";

export default defineComponent({
  name: "App",
  components: { navigation, Snackbar },
  setup(props: unknown, context: SetupContext) {
    const drawer = computed({
      get: () => context.root.$store.state.drawer,
      set: (v) => context.root.$store.dispatch("setDrawer", v),
    });

    const loading = computed({
      get: () => context.root.$store.state.loading,
      set: (v) => context.root.$store.dispatch("setLoading", v),
    });

    return {
      drawer,
      loading,
    };
  },
});
</script>
