<template>
  <v-menu
    v-model="menu"
    :close-on-content-click="false"
    :nudge-right="50"
    offset-x
    transition="scale-transition"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-list-item-title v-bind="attrs" v-on="on"
        >Add new item</v-list-item-title
      >
    </template>

    <v-card class="" max-width="220">
      <v-card-title>Name your item</v-card-title>
      <v-card-text>
        <v-row align="center" class="mx-0">
          <v-text-field
            v-model="budgetItemName"
            dense
            hide-details
            outlined
          ></v-text-field>
        </v-row>
      </v-card-text>

      <v-card-actions>
        <v-btn color="primary lighten-1" depressed @click="saveNewBudgetItem">
          Add
        </v-btn>
        <v-btn text @click="clearInput"> Clear </v-btn>
      </v-card-actions>
    </v-card>
  </v-menu>
</template>

<script lang="ts">
import { gql, GQLClient } from "@/graphql";
import eventBus from "@/utils/eventBus";
import {
  computed,
  defineComponent,
  ref,
  SetupContext,
} from "@vue/composition-api";

export default defineComponent({
  name: "",
  props: {
    showMenu: Boolean,
    budgetId: Number,
  },
  setup(props: { showMenu: boolean; budgetId: number }, context: SetupContext) {
    const menu = computed({
      get: () => props.showMenu,
      set: (v) => context.emit("update:showMenu", v),
    });
    const budgetItemName = ref("");

    const clearInput = () => {
      budgetItemName.value = "";
    };

    const addBudgetItemRequest = GQLClient.prepare({
      query: gql`
        mutation($budgetItemName: String!, $budgetId: Int) {
          createBudgetItem(
            data: {
              name: $budgetItemName
              budget: { connect: { id: $budgetId } }
            }
          ) {
            name
          }
        }
      `,
      variables: {
        budgetItemName: "",
        budgetId: 0,
      },
    });

    function saveNewBudgetItem() {
      addBudgetItemRequest
        .update({
          budgetItemName: budgetItemName.value,
          budgetId: props.budgetId,
        })
        .then((res: any) => {
          if (res?.data?.createBudgetItem) {
            budgetItemName.value = "";
            menu.value = false;

            context.root.$store.dispatch("setShowSnackbar", {
              show: true,
              message: `Saved budget item "${res?.data?.createBudgetItem?.name}"!`,
            });

            eventBus.$emit("new-budget-item-added");
          }
        });
    }

    return {
      menu,
      budgetItemName,
      clearInput,
      saveNewBudgetItem,
    };
  },
});
</script>
