<template>
  <v-menu
    v-model="menu"
    :close-on-content-click="false"
    :nudge-right="50"
    offset-x
    transition="scale-transition"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-list-item-title v-bind="attrs" v-on="on"
        >Add new budget</v-list-item-title
      >
    </template>

    <v-card class="" max-width="220">
      <v-card-title>Name your budget</v-card-title>
      <v-card-text>
        <v-row align="center" class="mx-0">
          <v-text-field
            v-model="budgetName"
            dense
            hide-details
            outlined
          ></v-text-field>
        </v-row>
      </v-card-text>

      <v-divider class="mx-4"></v-divider>

      <v-card-title>Choose an icon</v-card-title>
      <v-card-text>
        <v-chip-group
          v-model="budgetIcon"
          active-class="primary accent-2 white--text"
          column
        >
          <v-chip
            v-for="icon in iconSelection"
            :key="icon.icon"
            :value="icon.icon"
          >
            <v-icon>{{ icon.icon }}</v-icon>
            <span class="ml-2">{{ icon.name }}</span>
          </v-chip>
        </v-chip-group>
      </v-card-text>

      <v-card-actions>
        <v-btn color="primary lighten-1" depressed @click="saveNewBudget">
          Add
        </v-btn>
        <v-btn text @click="clearInput"> Clear </v-btn>
      </v-card-actions>
    </v-card>
  </v-menu>
</template>

<script lang="ts">
import { gql, GQLClient } from "@/graphql";
import eventBus from "@/utils/eventBus";
import {
  computed,
  defineComponent,
  ref,
  SetupContext,
} from "@vue/composition-api";

export default defineComponent({
  name: "ActionAddNewBudget",
  props: {
    showMenu: Boolean,
  },
  setup(props: { showMenu: boolean }, context: SetupContext) {
    const menu = computed({
      get: () => props.showMenu,
      set: (v) => context.emit("update:showMenu", v),
    });
    const budgetName = ref("");
    const budgetIcon = ref("");

    const iconSelection = [
      {
        name: "Food",
        icon: "mdi-food",
      },
      {
        name: "Cash",
        icon: "mdi-cash",
      },
      {
        name: "Everyday",
        icon: "mdi-basket",
      },
    ];

    const clearInput = () => {
      budgetName.value = "";
      budgetIcon.value = "";
    };

    const addBudgetRequest = GQLClient.prepare({
      query: gql`
        mutation($name: String, $icon: String) {
          createBudget(
            data: { name: $name, icon: $icon, user: { connect: { id: 1 } } }
          ) {
            name
          }
        }
      `,
      variables: {
        name: "",
        icon: "",
      },
    });

    function saveNewBudget() {
      addBudgetRequest
        .update({ name: budgetName.value, icon: budgetIcon.value })
        .then((res: any) => {
          if (res?.data?.createBudget) {
            budgetName.value = "";
            budgetIcon.value = "";
            menu.value = false;

            context.root.$store.dispatch("setShowSnackbar", {
              show: true,
              message: `Saved budget "${res?.data?.createBudget?.name}"!`,
            });

            eventBus.$emit("new-budget-added");
          }
        });
    }

    return {
      menu,
      budgetName,
      budgetIcon,
      clearInput,
      saveNewBudget,
      iconSelection,
    };
  },
});
</script>
